:root {
  --accent-color: #2196f3;
  --accent-active: #188ce8;
  --black-logo: #000000;
  --main-text: #212121;
  --secondary-text: #757575;
  --white-text: #ffffff;
  --footer-text: rgba(255, 255, 255, 0.6);
  --gray-border: rgba(255, 255, 255, 0.3);
  --white-background: #ffffff;
  --grey-background: #f5f4fa;
  --dark-background: #2f303a;
  --icon-color: #afb1b8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --hero-background-color: #c4c4c4;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hover-duration: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text);
  background-color: var(--white-background);
}

button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  position: relative;
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color var(--hover-duration) var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--accent-active);
}

.modal-form-field,
.client-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.header {
  background-color: var(--white-background);
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header .container {
  display: flex;
  align-content: center;
  align-items: center;
}
.header .active-link {
  color: var(--accent-color);
  bottom: -1px;
}
.header .active-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-logo);
}

.logo-web {
  color: var(--accent-color);
}

.navigation {
  margin-left: 93px;
}

.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list .link {
  position: relative;
  transition: color var(--hover-duration) var(--timing-function);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-item:nth-child(-n+2) {
  margin-right: 50px;
}

.contacts {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list-icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list .link {
  display: flex;
  align-items: center;
  transition: color var(--hover-duration) var(--timing-function);
}
.contacts-list:first-child {
  margin-right: 50px;
}

.hero {
  background-color: var(--hero-background-color);
  padding: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--hover-duration) var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-active);
}

.benefits {
  padding-bottom: 0;
}
.benefits__list {
  list-style-type: none;
  display: flex;
}
.benefits__item {
  width: 270px;
}
.benefits__item:nth-child(-n+3) {
  margin-right: 30px;
}
.benefits__icon-wrap {
  display: inline-flex;
  content: "";
  height: 120px;
  width: 270px;
  background-color: var(--grey-background);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 10px;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 50px;
}
.work__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  background-color: var(--grey-background);
}
.command__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 50px;
}
.command__list {
  list-style-type: none;
  display: flex;
}
.command__caption-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command__item {
  background-color: var(--white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__item:not(:last-child) {
  margin-right: 30px;
}
.command__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 10px;
}
.command__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
  gap: 10px;
}
.socials__link {
  color: inherit;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--icon-color);
  align-items: center;
  justify-content: center;
  transition: fill var(--hover-duration) var(--timing-function), background-color var(--hover-duration) var(--timing-function);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 50px;
}

.company-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.company-list__link {
  display: flex;
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: fill var(--hover-duration) var(--timing-function), border-color var(--hover-duration) var(--timing-function);
}
.company-list__link:hover, .company-list__link:focus {
  border-color: var(--accent-active);
  fill: var(--accent-active);
}

.filter-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text);
  background-color: var(--grey-background);
  display: block;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;
  transition: color var(--hover-duration) var(--timing-function), background-color var(--hover-duration) var(--timing-function), box-shadow var(--hover-duration) var(--timing-function);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-list .item {
  flex-basis: calc((100% - 60px) / 3);
}
.project-list .link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow var(--hover-duration) var(--timing-function);
}
.project-list .link:hover, .project-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list .wrap {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
.project-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text);
  margin-bottom: 4px;
}
.project-list .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-list-thumb {
  position: relative;
  overflow: hidden;
}

.project-list-subscribe {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(101%);
  transition: transform var(--hover-duration) var(--timing-function);
  display: flex;
  padding: 24px;
  width: 100%;
  height: 100%;
  color: var(--white-text);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  align-items: center;
}
.project-list .link:hover .project-list-subscribe, .project-list .link:focus .project-list-subscribe {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity var(--hover-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--hover-duration) var(--timing-function);
  text-align: center;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-background);
  transform: rotateZ(0deg), scale(1);
  transition: border-color var(--hover-duration) var(--timing-function), transform var(--hover-duration) var(--timing-function);
}
.close-modal-btn:hover {
  transform: rotateZ(90deg) scale(1.1);
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 12px;
}

.field-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  text-align: left;
}

.form-wrap {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}

.modal-form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline-color: transparent;
  transition: outline-color var(--hover-duration) var(--timing-function);
}
.modal-form-field:focus {
  outline-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  fill: var(--main-text);
  transition: fill var(--hover-duration) var(--timing-function);
}
.modal-form-field:focus + .modal-form-icon {
  outline-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  outline-color: transparent;
  transition: outline-color var(--hover-duration) var(--timing-function);
}
.client-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.client-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.client-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.client-comment:focus {
  outline-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-agree-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-agree-text {
  white-space: pre;
}

.agree-link {
  color: var(--accent-color);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background: transparent;
  border: 2px solid var(--main-text);
  border-radius: 2px;
  transition: border-color var(--hover-duration) var(--timing-function), box-shadow var(--hover-duration) var(--timing-function);
}
.modal-agree-field:hover .checkbox-icon, .modal-agree-field:focus-within .checkbox-icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-checkbox:checked + .checkbox-icon {
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal-submit-btn {
  text-align: center;
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-text);
  display: block;
  margin-bottom: 20px;
}

.address-list {
  list-style-type: none;
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-text);
  transition: color var(--hover-duration) var(--timing-function);
}
.address-list .link:hover, .address-list .link:focus {
  color: var(--accent-color);
}
.address-list [rel] {
  color: var(--white-text);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-social-container {
  margin-right: 93px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
  list-style: none;
}
.footer-social-list .link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-icon-background);
  transition: background-color var(--hover-duration) var(--timing-function);
}

.footer-icon {
  display: inline-flex;
  fill: var(--white-text);
}

.subscribe-mail-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  color: var(--white-text);
  background-color: transparent;
  border: 1px solid var(--gray-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-mail-form::-moz-placeholder {
  color: var(--footer-text);
}
.subscribe-mail-form:-ms-input-placeholder {
  color: var(--footer-text);
}
.subscribe-mail-form::placeholder {
  color: var(--footer-text);
}

.footer-icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--white-text);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-text);
}/*# sourceMappingURL=main.css.map */