.clients {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text);
    margin-bottom: 50px;
  }
}

.company-list {
  display: flex;
  list-style: none;
  gap: 30px;

  &__link {
    display: flex;
    fill: var(--icon-color);
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: fill var(--hover-duration) var(--timing-function),
      border-color var(--hover-duration) var(--timing-function);

    &:hover,
    &:focus {
      border-color: var(--accent-active);
      fill: var(--accent-active);
    }
  }
}
