.command {
  background-color: var(--grey-background);
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text);
    margin-bottom: 50px;
  }

  &__list {
    list-style-type: none;

    display: flex;
  }

  &__caption-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__item {
    background-color: var(--white-background);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text);
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}

.socials {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
  gap: 10px;

  &__link {
    color: inherit;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--icon-color);
    align-items: center;
    justify-content: center;

    transition: fill var(--hover-duration) var(--timing-function),
      background-color var(--hover-duration) var(--timing-function);
  }
}
