.hero {
  background-color: var(--hero-background-color);
  padding: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  &__title {
    display: flex;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-text);

    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white-text);
    background-color: var(--accent-color);

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    transition: background-color var(--hover-duration) var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-active);
    }
  }
}
