.work {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text);
    margin-bottom: 50px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 30px;
  }
  &__item {
    position: relative;
  }

  &__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;

    color: var(--white-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
