.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .link {
    display: block;
    text-decoration: none;
    color: inherit;

    transition: box-shadow var(--hover-duration) var(--timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .wrap {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
    border-top: none;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-text);
    margin-bottom: 4px;
  }

  .text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}

.project-list-thumb {
  position: relative;
  overflow: hidden;
}

.project-list-subscribe {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(101%);
  transition: transform var(--hover-duration) var(--timing-function);

  display: flex;
  padding: 24px;
  width: 100%;
  height: 100%;

  color: var(--white-text);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  align-items: center;

  .project-list .link:hover &,
  .project-list .link:focus & {
    transform: translateY(0%);
  }
}
