:root {
  --accent-color: #2196f3;
  --accent-active: #188ce8;
  --black-logo: #000000;
  --main-text: #212121;
  --secondary-text: #757575;
  --white-text: #ffffff;
  --footer-text: rgba(255, 255, 255, 0.6);
  --gray-border: rgba(255, 255, 255, 0.3);
  --white-background: #ffffff;
  --grey-background: #f5f4fa;
  --dark-background: #2f303a;
  --icon-color: #afb1b8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --hero-background-color: #c4c4c4;
  --backdrop-color: rgba(0, 0, 0, 0.2);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hover-duration: 250ms;
}
